*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  background-color: #ef476f;
  text-align: center;
  margin: 0;
  padding: 40px;
}

/* Add me and Button section */
.middel {
  margin: 10px;
  text-align: center;
}

/* Radio Button section */
.options-button {
  text-align: center;
  display: block;
}

h2 {
  text-align: center;
}

.removebutton {
  text-align: center;
  margin: 15px;
}

/* List elemente */
#li-element {
  text-align: center;
  list-style-position: inside;
}

li {
  list-style: none;
}

#checkboxen:checked + p {
  color: #3deb11;
  text-decoration: line-through;
}

#checkboxen {
  float: left;
}
