*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  background-color: #ef476f;
  text-align: center;
  margin: 0;
  padding: 40px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: 1px 1px 0px #0445ce, 2px 2px 0px #ce9551;
}

h2 {
  font-family: "Roboto", sans-serif;
}

/* Add me and Button section */
.middel {
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#addme-button {
  background-color: #3d89ae;
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
  border-radius: 3px;
  box-shadow: 2px 2px 0px 0px #dd5571;
}
#addme-button:active {
  background-color: #41ae3d;
}

#textfild {
  border: none;
}
/* Radio Button section */
.options-button {
  text-align: center;
}

.button-radio-center {
  display: inline-grid;
  text-align: center;
  position: relative;
  bottom: 20px;
  font-family: "Roboto", sans-serif;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #3d89ae;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"] {
  position: relative;
  top: 15px;
}
#remove-button {
  margin: 10px;
  background-color: #3d89ae;
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
  border-radius: 3px;
  box-shadow: 2px 2px 0px 0px #dd5571;
}
#remove-button:active {
  background-color: #41ae3d;
}

h2 {
  text-align: center;
}

.removebutton {
  text-align: center;
  margin: 15px;
}

/* List elemente */
#myUL {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

/*  #checkboxen:checked + label {
  color: #3deb11;
  text-decoration: line-through;
}
*/

#checkboxen {
  float: left;
}

#checkboxen:checked + label {
  color: #3deb11;
  text-decoration: line-through;
}

input[type="checkbox"]:checked:after {
  width: 12px;
  height: 12px;
  border-radius: 2px 2px 2px 2px;
  border: 1px solid black;
  top: 0px;
  left: 0px;
  position: relative;
  background-color: #61d2a4;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' focusable='false' %3E%3Cpath fill='none' stroke='white' stroke-width='3' d='M1.73 12.91l6.37 6.37L22.79 4.59' /%3E%3C/svg%3E");

  display: inline-block;
  visibility: visible;
}
